Django==2.0.3
easy-thumbnails==2.7.0
gunicorn==19.6.0
psycopg2==2.8.4
django-cors-headers==3.0.2
django-filter==2.1.0
djangorestframework==3.9.4
django-phonenumber-field==3.0.1
django-graphql-jwt==0.2.2
django-graphql-social-auth==0.1.4
graphene==2.1.6
graphene-django==2.3.2
graphene-file-upload==1.2.2
graphql-core==2.2
graphql-relay==0.4.5
phonenumbers==8.10.14
Pillow==6.1.0
django-image-cropping==1.2.0